<table  class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Titulo</th>
      <th scope="col">Fecha</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Precio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tr>
    <th scope="col">1</th>
    <th scope="col">Harry Potter y la piedra filosofal</th>
    <th scope="col">Junio 1997</th>
    <th scope="col">20</th>
    <th scope="col">500</th>
    <th scope="col">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" >Editar</button>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"  >Eliminar</button>
    </th>
  </tr>
</table>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit: __LIBRO___</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group">
            <label for="titulo">Numero</label>
            <input type="text" class="form-control" id="numero" aria-describedby="numeroHelper" placeholder="Numero">
            <small id="numeroHelper" class="form-text text-muted">Numero.</small>
          </div>
          <div class="form-group">
            <label for="titulo">Titulo</label>
            <input type="text" class="form-control" id="titulo" aria-describedby="tituloHelper" placeholder="Ingresar titulo">
            <small id="tituloHelper" class="form-text text-muted">Titulo del libro.</small>
          </div>
          <div class="form-group">
            <label for="titulo">Fecha</label>
            <input type="text" class="form-control" id="fecha" aria-describedby="fechaHelper" placeholder="Ingresar titulo">
            <small id="fechaHelper" class="form-text text-muted">Fecha de salida.</small>
          </div>
          <div class="form-group">
            <label for="titulo">Cantidad</label>
            <input type="text" class="form-control" id="cantidad" aria-describedby="cantidadHelper" placeholder="Ingresar titulo">
            <small id="cantidadHelper" class="form-text text-muted">Stock.</small>
          </div>
          <div class="form-group">
            <label for="titulo">Precio</label>
            <input type="text" class="form-control" id="precio" aria-describedby="precioHelper" placeholder="Ingresar titulo">
            <small id="precioHelper" class="form-text text-muted">Precio del libro.</small>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Delete: title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Esta seguro que desea eliminar __LIBRO___?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Eliminar</button>
      </div>
    </div>
  </div>
</div>
